button {
  font-size: 18px;
  border: none;
  border-radius: 4px;
  margin: 0 4px;
  background-color: lightblue;
}

#score-box {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  /* background-color: lightcoral; */
}

.score-label {
  font-size: 14px;
  margin-right: 2px;
  /* background-color: lightcyan; */
}

.score-div {
  margin-right: 8px;
  /* background-color: lightseagreen; */
}